.gradle
/.gradle
/local.properties
local.properties
/.idea/workspace.xml
/.idea/libraries
/build
.DS_Store
/build
/captures
/.idea/compiler.xml
/.idea/copyright
/.idea/libraries
/.idea/misc.xml
/.idea/workspace.xml
/.idea/vcs.xml
